.App {
    text-align: center;
}

.li {
    padding: 0.5rem;
    border-bottom: 1px solid indianred;
}

button {
    margin: 0.4rem;
    padding: 0.3rem 1.5rem;
}

.done {
    border: 3px solid red;
}
